{{ define "title_failure" -}}
Failure running docker-volume-backup at {{ .Stats.StartTime | formatTime }}
{{- end }}


{{ define "body_failure" -}}
Running docker-volume-backup failed with error: {{ .Error }}

Log output of the failed run was:

{{ .Stats.LogOutput }}
{{- end }}


{{ define "title_success" -}}
Success running docker-volume-backup at {{ .Stats.StartTime | formatTime }}
{{- end }}


{{ define "body_success" -}}
Running docker-volume-backup succeeded.

Log output was:

{{ .Stats.LogOutput }}
{{- end }}
