name: Run Integration Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Add hosts to /etc/hosts
        run: |
            sudo echo "127.0.0.1 host.docker.internal" | sudo tee -a /etc/hosts

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        env:
          DOCKER_BUILDKIT: '1'
        run: docker build . -t offen/docker-volume-backup:test

      - name: Run Tests
        working-directory: ./test
        run: |
          # Stop the buildx container so the tests can make assertions
          # about the number of running containers
          docker rm -f $(docker ps -aq)
          export GPG_TTY=$(tty)
          ./test.sh test
